---
title: "Authors"
layout: default
permalink: "/authors-list.html"
---

<div class="container">
<h4 class="font-weight-bold spanborder"><span>{{page.title}}</span></h4>
    <div class="row gap-y ">
    {% for post in site.posts %}
    {% if post.categories contains "news" %} 
        <div class="col-lg-4 mb-4">
            <a href="{{ post.url }}">
                    <img src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}" style="width: 100%;">
                </a>
                <h2 class="mb-1 h4 font-weight-bold">
                    <a class="text-dark" href="{{ post.url }}">{{ post.title }}</a>
                </h2>
                <small class="text-muted">
                    {{ post.date | date: '%b %d, %Y' }}
                </small>
        </div>
    {% endif %}
    {% endfor %}
    </div>
</div>