---
title: "Yanbing Wang, Ph.D."
layout: default
pagination:
enabled: true
description: ""
---


<div class="container">



<div class="container">
   <div class="row justify-content-center">
       <div class="col-md-12">        
           <div class="row align-items-center mb-5">
               <div class="col-md-8">
                   <h2 class="font-weight-bold">{{page.title}}</h2>
                   <p><a href="{{ site.authors.sal.site }}">{{ site.authors.sal.site }}</a></p>
                   <p>
                     I leverage large-scale data, advanced computation, and control technologies to address operational challenges in transportation systems.
                     In my current role at <a href="https://ssebe.engineering.asu.edu/">Arizona State University</a> as an assistant professor, I lead applied research initiatives in governments and industry partners on intelligent systems and mobility analytics.
                     Prior to ASU, I was a postdoctoral researcher at <a href="https://vms.taps.anl.gov/">Argonne National Laboratory</a>, following my Ph.D. from <a href="https://www.isis.vanderbilt.edu/">the Institute for Software Integrated Systems at Vanderbilt University</a>.
                  </p>
                  <p>
                     I am a five-time recipient of the <a href="https://highways.dot.gov/careers/dwight-david-eisenhower-transportation-fellowship-program">Dwight D. Eisenhower Transportation Fellowship</a> from the Federal Highway Administration and was named a <a href="https://risingstars.linklab.virginia.edu/2023/participants.html">Cyber-Physical Systems Rising Star</a> 
                     by the National Science Foundation. My experience spans both academia and industries, including positions at <a href="/toyota/">Toyota Infotech Labs</a>, 
                     <a href="/merl/">Mitsubishi Electric Research Laboratories</a>, and <a href="https://www.ipam.ucla.edu/programs/long-programs/mathematical-challenges-and-opportunities-for-autonomous-vehicles/">UCLA's Institute for Pure & Applied Mathematics</a>.
                  </p>
                  <p>
                     My research is rooted in use-inspired philosophy: bridging theory and practice through real-world experimentation and close collaboration with public agencies.
                  </p>
                   <p class="excerpt">{{ site.authors.sal.bio }}</p>
               </div>
               <div class="col-md-4 text-center">
                  <div style="padding-top: 100px;">
                     <!-- Content here -->
                  </div>
                  <img alt="{{ site.authors.sal.name }}" src="assets/images/prof1_crop.jpeg" class="rounded-circle" height="250">
                  <div class="text-center mt-4">
                        <p><a href="https://www.linkedin.com/in/yanbing-wang/" target="linkedin.com/in/yanbing-wang/">
                           <img src="assets/images/linkedin.png" alt="LinkedIn" style="width: 30px; height: 30px; margin: 0 10px;">yanbing-wang</a></p>
                        <p><a href="https://github.com/yanb514" target="_blank">
                           <img src="assets/images/github.png" alt="GitHub" style="width: 30px; height: 30px; margin: 0 10px;">yanb514</a></p>
                        <p><a href="https://scholar.google.com/citations?user=38Esjq8AAAAJ&hl=en" target="_blank">
                           <img src="assets/images/scholar.png" alt="Google Scholar" style="width: 30px; height: 30px; margin: 0 10px;">Google Scholar</a></p>
                  </div>
                  <!-- <div class="text-center mt-4">
                      <a href="https://www.linkedin.com/in/yanbing-wang/" target="_blank"><img src="assets/images/linkedin.png" alt="LinkedIn" style="width: 30px; height: 30px; margin: 0 10px;"></a>
                      <a href="https://github.com/yanb514" target="_blank"><img src="assets/images/github.png" alt="GitHub" style="width: 30px; height: 30px; margin: 0 10px;"></a>
                      <a href="https://scholar.google.com/citations?user=38Esjq8AAAAJ&hl=en" target="_blank"><img src="assets/images/scholar.png" alt="Google Scholar" style="width: 30px; height: 30px; margin: 0 10px;"></a>
                  </div> -->
              </div>
           </div>
       </div>
   </div>
   </div>


<p style="color: #e70182; font-weight: bold;"></p>

   <!-- <p style="font-weight: bold;">
     My lab has openings for self-driven and passionate PhD/MS students.
     If you are interested in working with me, please fill out <a href="https://forms.gle/zzf32SXbGEaXWViM8" target="_blank">this form</a>.
   </p> -->


<br>
<!-- Now the rest of the posts with the usual loop but with an offset:4 on the first page so we can skeep the first 4 posts displayed above -->
<div class="row mt-3">
   <div class="col-md-12 main-loop">
      <!-- Latest news -->
      <h3 class="font-weight-bold spanborder"><span>Latest News</span></h3>

      <div class="container">
         <div class="row gap-y "  style="margin-bottom: -20px;">
            {% assign count = 0 %}
            {% for post in site.posts %}
            {% if post.categories contains "news" %}
            {% if count < 6 %}
            <div class="col-lg-4 mb-4" >
               <a href="{{ site.baseurl }}{{ post.url }}">
                   {% if post.image contains "://" %}
                       <img src="{{ post.image }}" alt="{{ post.title }}" style="width: 100%; height: 200px; object-fit: cover;">
                   {% else %}
                       <img src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}" style="width: 100%; height: 200px; object-fit: cover;">
                   {% endif %}
               </a>

               <h5 class="mb-1 font-weight-bold"> 
                  <a class="text-dark" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
               </h5>
               <small class="text-muted">
               {{ post.date | date: '%b %d, %Y' }}
               </small>
            </div>
            {% endif %}
            {% assign count = count | plus: 1 %}
            {% endif %}
            {% endfor %}
         </div>
         {% if count > 6 %}
         <div class="text-center mt-4">
            <a href="{{site.baseurl}}/news.html" class="btn btn-outline-primary"  style="margin-bottom: 0px;">Read All News</a>
         </div>
         {% endif %}
         <!-- <br> -->



         <div style="padding-top: 100px;">
            <!-- Content here -->
         </div>
      </div>



      <h3 class="font-weight-bold spanborder"><span>Projects</span></h3>
         <div class="container">
         {% assign featured_posts = site.posts | where: "categories", "featured" %}
            {% for post in featured_posts limit:6 %}
               {% unless post.categories contains "exclude" %}
                  {% include main-loop-card.html post=post %}
               {% endunless %}
            {% endfor %}

            {% if featured_posts.size > 6 %}
            <div class="text-center mt-4">
                <a href="{{site.baseurl}}/projects.html" class="btn btn-outline-primary" style="margin-bottom: 10px;">Read All Projects</a>
            </div>
            {% endif %}
         </div>
         <div style="padding-top: 100px;">
            <!-- Content here -->
         </div>

   </div>
</div>