
<p>  <p>
<p> </p>
<p> </p>
<p> </p>

<div class="d-flex main-loop-card">
<div class="pr-3">
	<h4 class="mb-1 font-weight-bold">
	<a class="text-dark" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
	</h4>
	<p class="excerpt">
	   {{ post.excerpt  | strip_html | strip_newlines | truncate: 200}}
	</p>
	<small class="d-block text-muted">
		{% if post.keywords %}
			{% for keyword in post.keywords %}
				<span class="badge badge-lightblue mr-1">{{ keyword }}</span>
			{% endfor %}
			<!-- <span class="badge badge-lightblue">{{ post.keywords | join: ' | ' }}</span> -->
		{% endif %}
	</small>
	<small class="text-muted">
		{{ post.date | date: '%b %d, %Y' }}
	</small>
</div>
{% if post.image %}
	<div class="col-md-5 pr-0 text-right">
	<a href="{{site.baseurl}}{{post.url}}">
	<img class="w-200" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}" style="width: 100%; height: 250px; object-fit: cover;" >
	</a>
	</div>
{% endif %}
</div>

