<!--  Replace menu links here -->
<!-- 
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li> -->
<!-- <li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/cv.html">CV</a>
</li> -->
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/news.html">News</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/projects.html">Projects</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact/students.html">Teaching & Mentoring</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="connectDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Connect
  </a>
  <div class="dropdown-menu" aria-labelledby="connectDropdown">
    <a class="dropdown-item" href="{{site.baseurl}}/contact/collaborators.html">Collaborators</a>
    <a class="dropdown-item" href="{{site.baseurl}}/contact/consulting.html">Consulting</a>
  </div>
</li>
<!-- <li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/eda.html">EDA</a>
</li> -->
<!-- <li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/consulting.html">Consulting</a>
</li> -->

